@import "./base.css";
@import "./common.scss";

$width: 600px;
$height: 600px;

body {
  color: $darkblue;
}

#cont {
  width: $width * 0.9;
  margin: 0 auto;
  margin-top: 16px;
  border-radius: 4px;
  background: $bgwhite;
  height: $height * 0.9;
  padding: ($height * 0.05) ($width * 0.05);
}
.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-variant: all-small-caps;
  padding-bottom: 32px;
  border-bottom: 1px solid;
}
