$salesblue: #0490f9;
$darkblue: #0f1627;
$bgwhite: #fefefe;
$lightgrey: #e7ecee;
$grey: #ccc;
$deepblue: #0747a6;


$loginWidth: 400px;
$loginHeight: 500px;

$msgWidth: 300px;
$msgHeight: 500px;

$pageHeight: 780px;
$headerHeight: 48px;


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
