@import "./base.css";
@import "./common.scss";

$width: 600px;
$height: 600px;

body {
  color: $darkblue;
}

#cont {
  width: $width * 0.9;
  margin: 0 auto;
  margin-top: 16px;
  border-radius: 4px;
  background: $bgwhite;
  height: $height * 0.9;
  padding: ($height * 0.05) ($width * 0.05);
}
.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-variant: all-small-caps;
  padding-bottom: 32px;
  border-bottom: 1px solid;
}

.form {
  padding: 8px;

  .label {
    margin-top: 14px;
    margin-bottom: 4px;
    font-variant: all-small-caps;
    font-weight: bold;
  }
  input,textarea {
    display: block;
    margin-left: -1px;
    margin-bottom: 32px;
    border-radius: 4px;
    width: 80%;
    font-size: 14px;
    color: #555;
    background-color: white;
    border: 1px solid $lightgrey;
    padding: 6px 12px;
  }
  input {
    height: 32px;
  }
  textarea {
    height: 128px;
  }

  .submit {
    width: 30%;
    border-radius: 4px;
    margin: 32px auto;
    text-align: center;
    padding: 12px;
    background: $deepblue;
    color: white;
    cursor: pointer;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
#cont {
  animation: fadein ease-out 500ms;
}
